# freeCodeCamp Demographic Data Analyzer

[Project Instructions](https://www.freecodecamp.org/learn/data-analysis-with-python/data-analysis-with-python-projects/demographic-data-analyzer)

In [1]:
import pandas as pd

In [3]:
# Read data from file
df = pd.read_csv('adult.data.csv')
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
# How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df['race'].value_counts()

race_count

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [11]:
# What is the average age of men?
average_age_men = df[df['sex'] == 'Male'].age.mean()

average_age_men

39.43354749885268

In [22]:
# What is the percentage of people who have a Bachelor's degree?
with_bachelors = df['education'] == 'Bachelors'
percentage_bachelors = with_bachelors.mean()

percentage_bachelors

0.16446055096587942

In [27]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
# What percentage of people without advanced education make more than 50K?

advanced_degrees = ['Bachelors', 'Masters', 'Doctorate']
has_advanced_degree = df['education'].isin(advanced_degrees)

# with and without `Bachelors`, `Masters`, or `Doctorate`
higher_education = df[has_advanced_degree]
lower_education = df[~has_advanced_degree]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K

In [30]:
# percentage with salary >50K
higher_education_rich = (higher_education['salary'] == '>50K').mean()
lower_education_rich = (lower_education['salary'] == '>50K').mean()

print(higher_education_rich)
print(lower_education_rich)

0.46535843011613937
0.173713601914639

In [31]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

1

In [65]:
# What percentage of the people who work the minimum number of hours per week have a salary of >50K?
min_workers = df[df['hours-per-week'] == min_work_hours]

rich_percentage = (min_workers['salary'] == '>50K').mean()

rich_percentage

0.1

In [57]:
# What country has the highest percentage of people that earn >50K?

highest_earning_country = None
highest_earning_country_percentage = None

# add a boolean column for whether salary is '>50K'
df['rich'] = df['salary'] == '>50K'

# Series containing the percentage 'rich' in each country
country_rich_pcnts = df.groupby('native-country')['rich'].mean()

# Get the max percentage and ID of the maximal row
highest_earning_country_percentage = country_rich_pcnts.max()
highest_earning_country = country_rich_pcnts.idxmax()

print(f"highest earning country: {highest_earning_country} with {highest_earning_country_percentage}")

highest earning country: Iran with 0.4186046511627907

In [62]:
# Identify the most popular occupation for those who earn >50K in India.
india_rich_mask = (df['native-country'] == 'India') & (df['salary'] == '>50K')
top_IN_occupation = df[india_rich_mask]['occupation'].value_counts().idxmax()
top_IN_occupation

'Prof-specialty'

In [64]:
# DO NOT MODIFY BELOW THIS LINE
print("Number of each race:\n", race_count) 
print("Average age of men:", average_age_men)
print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
print(f"Min work time: {min_work_hours} hours/week")
print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
print("Country with highest percentage of rich:", highest_earning_country)
print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
print("Top occupations in India:", top_IN_occupation)

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 39.43354749885268
Percentage with Bachelors degrees: 0.16446055096587942%
Percentage with higher education that earn >50K: 0.46535843011613937%
Percentage without higher education that earn >50K: 0.173713601914639%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 0.0%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 0.4186046511627907%
Top occupations in India: Prof-specialty